tap "homebrew/cask"
tap "heroku/brew"

# Auto-completion
brew "brew-cask-completion"

# Dotfile Manager
brew "chezmoi"

# App Store Manager
brew "mas"

# IDE
brew "neovim"

# Terminal multiplexer
brew "tmux"
brew "reattach-to-user-namespace"

# Free and open source distributed version control system
brew 'git'

# Git Large File Storage
brew 'git-lfs'

# Basic file, shell and text manipulation utilities of the GNU operating system.
brew "coreutils"

# OpenSSL is an open-source implementation of the SSL and TLS protocols.
brew 'openssl'

# Functions for use by applications that allow users to edit command lines while typing.
brew 'readline'

# FZF is a command line fuzzy finder.
brew 'fzf'

# ripgrep is text search; we prefer it over grep, ag, git grep, ucg, pt, sift.
brew 'ripgrep'

# GPG
brew "gnupg"

# A cat(1) clone with syntax highlighting and Git integration.
brew "bat"

# Docker Terminal GUI
brew "lazydocker"

{{- if eq .chezmoi.hostname "NY1C02D63PCMD6R" }}
brew "nvm"
brew "watchman"

# Kubernetes IDE
cask "lens"
{{- end }}

{{- if eq .chezmoi.hostname "Jareds-MacBook-Pro" }}
brew "heroku"
brew "curl"
brew "git"
brew "awscli"

cask "iterm2"
cask "backblaze"
cask "dropbox"
cask "zoom"
cask "discord"
cask "notion"
cask "sunsama"
cask "google-chrome"
cask "google-backup-and-sync"

# Window manager
cask "rectangle"

# Expose localhost ports over the internet
cask "ngrok"

# Time Tracking
cask "toggl-track"

# VLC media player
cask 'vlc'

# Powerful, intelligent flash cards
cask 'anki'

# Time tracker
cask "rescuetime"

# Spotify music player
cask 'spotify'

# Dash documentation browser and code snippet manager
cask 'dash'

# Postgres.app
cask 'postgres'

# Needed for ffi
brew "automake"
brew "autoconf"
brew "libtool"
brew "libffi"

mas "Apple Developer", id: 640199958
mas "1Password", id: 1333542190
mas "Fantastical", id: 975937182
mas "Kindle", id: 405399194
mas "Keynote", id: 409183694
mas "Day One", id: 1055511498
mas "Bear", id: 1091189122
mas "Slack", id: 803453959
mas "Todoist", id: 585829637
mas "WhatsApp", id: 1147396723
mas "GoodNotes 5", id: 1444383602
mas "Pocket", id: 568494494
mas "Xcode", id: 497799835
{{- end }}
